[run]
branch = True
source =
    backend/src/analyser/*
    backend/src/core/*
    backend/src/recorder/*
omit =
    backend/test/*
    backend/scratch/*
    backend/setup/*

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    backend/test/*